<table id="time-selection">
    <tr>
      <th>Time</th>
      <th class="day-selector">Monday</th>
      <th class="day-selector">Tuesday</th>
      <th class="day-selector">Wednesday</th>
      <th class="day-selector">Thursday</th>
      <th class="day-selector">Friday</th>
    </tr>
    <tr>
      <td>9:00 AM</td>
      <td class="time-entry" id="mon-0900"></td>
      <td class="time-entry" id="tue-0900"></td>
      <td class="time-entry" id="wed-0900"></td>
      <td class="time-entry" id="thu-0900"></td>
      <td class="time-entry" id="fri-0900"></td>
    </tr>
    <tr>
      <td></td>
      <td class="time-entry" id="mon-0930"></td>
      <td class="time-entry" id="tue-0930"></td>
      <td class="time-entry" id="wed-0930"></td>
      <td class="time-entry" id="thu-0930"></td>
      <td class="time-entry" id="fri-0930"></td>
    </tr>
    <tr>
      <td>10:00 AM</td>
      <td class="time-entry" id="mon-1000"></td>
      <td class="time-entry" id="tue-1000"></td>
      <td class="time-entry" id="wed-1000"></td>
      <td class="time-entry" id="thu-1000"></td>
      <td class="time-entry" id="fri-1000"></td>
    </tr>
    <tr>
      <td></td>
      <td class="time-entry" id="mon-1030"></td>
      <td class="time-entry" id="tue-1030"></td>
      <td class="time-entry" id="wed-1030"></td>
      <td class="time-entry" id="thu-1030"></td>
      <td class="time-entry" id="fri-1030"></td>
    </tr>
    <tr>
      <td>11:00 AM</td>
      <td class="time-entry" id="mon-1100"></td>
      <td class="time-entry" id="tue-1100"></td>
      <td class="time-entry" id="wed-1100"></td>
      <td class="time-entry" id="thu-1100"></td>
      <td class="time-entry" id="fri-1100"></td>
    </tr>
    <tr>
      <td></td>
      <td class="time-entry" id="mon-1130"></td>
      <td class="time-entry" id="tue-1130"></td>
      <td class="time-entry" id="wed-1130"></td>
      <td class="time-entry" id="thu-1130"></td>
      <td class="time-entry" id="fri-1130"></td>
    </tr>
    <tr>
      <td>12:00 PM</td>
      <td class="time-entry" id="mon-1200"></td>
      <td class="time-entry" id="tue-1200"></td>
      <td class="time-entry" id="wed-1200"></td>
      <td class="time-entry" id="thu-1200"></td>
      <td class="time-entry" id="fri-1200"></td>
    </tr>
    <tr>
      <td></td>
      <td class="time-entry" id="mon-1230"></td>
      <td class="time-entry" id="tue-1230"></td>
      <td class="time-entry" id="wed-1230"></td>
      <td class="time-entry" id="thu-1230"></td>
      <td class="time-entry" id="fri-1230"></td>
    </tr>
    <tr>
      <td>1:00 PM</td>
      <td class="time-entry" id="mon-1300"></td>
      <td class="time-entry" id="tue-1300"></td>
      <td class="time-entry" id="wed-1300"></td>
      <td class="time-entry" id="thu-1300"></td>
      <td class="time-entry" id="fri-1300"></td>
    </tr>
    <tr>
      <td></td>
      <td class="time-entry" id="mon-1330"></td>
      <td class="time-entry" id="tue-1330"></td>
      <td class="time-entry" id="wed-1330"></td>
      <td class="time-entry" id="thu-1330"></td>
      <td class="time-entry" id="fri-1330"></td>
    </tr>
    <tr>
      <td>2:00 PM</td>
      <td class="time-entry" id="mon-1400"></td>
      <td class="time-entry" id="tue-1400"></td>
      <td class="time-entry" id="wed-1400"></td>
      <td class="time-entry" id="thu-1400"></td>
      <td class="time-entry" id="fri-1400"></td>
    </tr>
    <tr>
      <td></td>
      <td class="time-entry" id="mon-1430"></td>
      <td class="time-entry" id="tue-1430"></td>
      <td class="time-entry" id="wed-1430"></td>
      <td class="time-entry" id="thu-1430"></td>
      <td class="time-entry" id="fri-1430"></td>
    </tr>
    <tr>
      <td>3:00 PM</td>
      <td class="time-entry" id="mon-1500"></td>
      <td class="time-entry" id="tue-1500"></td>
      <td class="time-entry" id="wed-1500"></td>
      <td class="time-entry" id="thu-1500"></td>
      <td class="time-entry" id="fri-1500"></td>
    </tr>
    <tr>
      <td></td>
      <td class="time-entry" id="mon-1530"></td>
      <td class="time-entry" id="tue-1530"></td>
      <td class="time-entry" id="wed-1530"></td>
      <td class="time-entry" id="thu-1530"></td>
      <td class="time-entry" id="fri-1530"></td>
    </tr>
    <tr>
      <td>4:00 PM</td>
      <td class="time-entry" id="mon-1600"></td>
      <td class="time-entry" id="tue-1600"></td>
      <td class="time-entry" id="wed-1600"></td>
      <td class="time-entry" id="thu-1600"></td>
      <td class="time-entry" id="fri-1600"></td>
    </tr>
    <tr>
      <td></td>
      <td class="time-entry" id="mon-1630"></td>
      <td class="time-entry" id="tue-1630"></td>
      <td class="time-entry" id="wed-1630"></td>
      <td class="time-entry" id="thu-1630"></td>
      <td class="time-entry" id="fri-1630"></td>
    </tr>
    <tr>
      <td>5:00 PM</td>
      <td class="time-entry" id="mon-1700"></td>
      <td class="time-entry" id="tue-1700"></td>
      <td class="time-entry" id="wed-1700"></td>
      <td class="time-entry" id="thu-1700"></td>
      <td class="time-entry" id="fri-1700"></td>
    </tr>
    <tr>
      <td></td>
      <td class="time-entry" id="mon-1730"></td>
      <td class="time-entry" id="tue-1730"></td>
      <td class="time-entry" id="wed-1730"></td>
      <td class="time-entry" id="thu-1730"></td>
      <td class="time-entry" id="fri-1730"></td>
    </tr>
  </table>



<script type="text/javascript">
  
  <% for day in ["mon", "tue", "wed", "thu", "fri"] %>
    <% for time in @times_hash[day.to_sym] %>
      $("#<%= day %>-<%= time %>").css("background", "#3B7EA1")
    <% end %>
  <% end %>

</script>