<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reminder to submit schedules</h1>
    <p>
      Hello <%= @user.name %>, please remember to fill out your schedules.
    </p>
  </body>
</html>
