// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#time-selection td {
	border: 1px solid black;
	height: 30px !important;
	background-color: rgb(255, 255, 255);
	width: 50px;
}